h1 {
    color: green;

}

input{
    size: auto;
}


#container {
    font-size: x-large;
    font-style: oblique;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2 {
    font-size: medium;
    top: 50px;
}


