body {
    background-image: linear-gradient(to top, black, green);
    grid-area: auto;
}

h1 {
    color: green;
}

h2 {
    font-size: medium;
}

#container {
    font-size: xx-large;
    font-style: oblique;
}


